body {
	border-top: 2px solid #9a2f44;
	background: url("../img/stripe-bg.png");
}

h1, h2, h3 {
	font-family: 'Dosis', sans-serif;
	color: #9a2f44;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

.center-block {
	display: block;
	margin: 0 auto 10px auto;
}

.nice-border {
	padding: 1px;
	border: 1px solid #DDDDDD;
}

textarea {
	max-width: 100%;
}

.float-right.button {
	margin-bottom: 0;
}

.logo {
	display: inline-block;
	padding: 5% 0;
	margin: 0 20px;
}

.logo a {
	display: block;
	padding: 10% 0;
}

.logo span {
	font-size: 40px;
	color: #9a2f44;
	line-height: 100%;
	font-family: 'Dosis', sans-serif;
}

.logo .desc {
	position: relative;
	top: 10px;
	font-size: 22px;
	color: #333;
	font-weight: 400;
}

.row {
	background: #fefefe;
}

.banner, .footer {
	background: #8DA3B6 url(../img/banner-bg.png);
}

.banner > div {
	height: 100%;
}

.git-info > span {
	font-size: 1.25em;
}

.columns .panel {
	text-align: center;
	margin: 20px;
}

.columns .panel p {
	margin-bottom: 10px;
}

.navigation {
	padding: 0;
}

#content ul {
	margin-left: 20px !important;
}

.posts h3 {
	margin: 0 0 10px 0;
}

.posts span {
	display: block;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 12px;
}

.social {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 10px 10px 0 10px;
}


.social.plus {background: url(../img/social/plus.png);}
.social.linkedin {background: url(../img/social/linkedin.png);}
.social.twitter {background: url(../img/social/twitter.png);}
.social.github {background: url(../img/social/github.png);}
.social.lastfm {background: url(../img/social/lastfm.png);}
.social.email {background: url(../img/social/email.png);}

.extra-bits {
	list-style: none;
}

.extra-bits li {
	font-size: 12px;
	margin: 5px 0;
}

.footer {
	border-top: 1px solid;
	border-bottom: 1px solid #6F9EB8;
	margin-top: 30px;
}

.footer p {
	margin: 10px 0;
	text-align: center;
}